html {
    height: 100%;
}
head {
    height: 0px;
    margin: 0px;
}
p {
    color: black;
    text-align: center;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
body {
    /*background-image: url("assets/techbg.jpg");*/
    background-position: 0%;
    background-size: contain;
    background-color: black;
    margin: 0px;
    text-align: center;
    height: 100%;
}
.topnav {
    z-index: 100;
    height: 40px;
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 75%;
}
.topnav a {
    float: left;
    color: #ddd;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 15px;
    height: 100%;
}
.topnav a:hover {
    color: white;
    height: 100%;
}
.header {
    z-index: -1;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: black;
    height: 100vh;
}
.title {
    height: 20%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0px;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 50px;
}
.subtitle {
    height: 10%;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.about {
    height: 100vh;
    /*background-image: url("assets/scene1.jpg");*/
    background-color: white;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
}
.footer {
    background-color: #333;
    height: 150px;
}
.footer a {
    color: #f2f2f2;
}