h1, h2, h3, h4, h5, p {
  font-family: 'Share Tech Mono';
}

a {
  padding: 5px;
  color: whitesmoke;
  font-size: x-large;
}

a:hover {
  color: grey;
  text-decoration: none;
}

.title {
  position: absolute;
  top: 45%;
  text-align: center;
  width: 100%;

  color: whitesmoke;
  padding: 10px;
}

.home {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  z-index: -1;

  background-size: cover;
  background-position: center center;
  background-image: url('assets/future-city.jpeg');
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;

  padding: 5px;
}