.flush {
  padding: 0px;
  margin: 0px;
}

.paragraph-end {
  margin-bottom: 1rem;
}

* {
  font-family: 'Rubik';
}

html {
  height: 100vh;
}

body {
  height: 500vh;
  background-color: white;
}

#hero-row {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

#hero {
  height: 120vh;
  padding: 0px;
  margin: 0px;

  background-image: linear-gradient(rgba(255,255,255,0) 83%, rgba(255,255,255, .4) 88%, rgba(255,255,255,1));
}

#hero-name {
  color: white;
  font-family: 'Rubik';
  font-weight: 400;
}

#hero-img {
  height: 100%;
  width: 83.3%;
  position: absolute;
  top: 0px;
  z-index: -1;
  transform: scale(1.4);
  transform-origin: center;
  object-fit: cover;
}

#separator-img {}

#separator {
  text-align: center;
}

#separator-img {
  height: 20vh;
}

#bio-row {
  padding: 10vh 20vw;
}

#bio {}